@font-face {
  font-family: "iconfont"; /* Project id 4210685 */
  src: url('iconfont.woff2?t=1692067469849') format('woff2'),
       url('iconfont.woff?t=1692067469849') format('woff'),
       url('iconfont.ttf?t=1692067469849') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dashboar:before {
  content: "\e657";
}

.icon-tower:before {
  content: "\e651";
}

.icon-search:before {
  content: "\e65e";
}

.icon-apps-fill:before {
  content: "\e64d";
}

